# TuriTop CRM
TURITOP_SHORT_ID=T955
TURITOP_SECRET_KEY=NBzHliwdT2GZutt9jhUHLA8gGzAHYK9L
TURITOP_API_BASE_URL=https://app.turitop.com/v1

# Gemini AI
GEMINI_API_KEY=AQ.Ab8RN6IiYPqGAoemoEKmt1kvO2uFOgOoBdbQGQswJRClKItiyg

# WhatsApp Gateway (Escanear QR / Evolution API / Wassenger)
WHATSAPP_PROVIDER=evolution_api
WHATSAPP_API_URL=https://tu-servidor-evolution-api.com
WHATSAPP_API_KEY=tu_api_key_aqui
WHATSAPP_INSTANCE=tour-galicia

# Server
PORT=8000
HOST=0.0.0.0
DEBUG=False
