openapi: 3.0.0
servers:
  - url: 'https://app.turitopsandbox.com/v1'
    description: Sandbox environment. Official and only environment to be used for integration and testing purposes.
info:
  version: ApiTuritop3
  title: TuriTop API
  description: Move your app forward with Turitop API
tags:
  - name: Authorization
    description: Module to get API authorization
  - name: Product
    description: Module for managing products
  - name: Categories
    description: Module for managing categories
  - name: Tickets
    description: Module for managing product tickets
  - name: Discount
    description: Module for managing product discount
  - name: Variation
    description: Module for managing product variation
  - name: Booking
    description: Module for managing bookings
  - name: Resell
    description: Module for managing the resell
paths:
  /authorization/grant:
    post:
      tags:
        - Authorization
      summary: Get oauth2 access and refresh tokens (access tokens are valid for 60 minutes and refresh tokens are valid for 60 days)
      responses:
        '200':
          description: Authorization OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Oauth2token'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/authorization/grant
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1534759136
                  time_zone:
                    type: string
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Authorization grant
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - short_id
                - secret_key
              properties:
                short_id:
                  type: string
                  description: Company short_id
                  example: T444
                secret_key:
                  type: string
                  description: Company secret key
                  example: mfzOyh=1O3M6T34sd0EA1fC9lyJUAFgSBRxt_1
        description: Authorization
  /authorization/refresh:
    post:
      tags:
        - Authorization
      summary: Generates a new access token when the previous one has expired or is about to expire, using a refresh token valid for up to 60 days
      responses:
        '200':
          description: Refresh authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Oauth2token'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/authorization/refresh
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1534759136
                  time_zone:
                    type: string
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Refresh access token
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        $ref: '#/components/requestBodies/Body'
  /authorization/renew:
    post:
      tags:
        - Authorization
      summary: Renew access and refresh token
      responses:
        '200':
          description: Renew access and refresh token
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Oauth2token'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/authorization/renew
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1534759136
                  time_zone:
                    type: string
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Renew refresh token
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        $ref: '#/components/requestBodies/Body'
  /authorization/revoke:
    post:
      tags:
        - Authorization
      summary: This action revoke (invalidates) access and refresh tokens
      responses:
        '200':
          description: Revoke authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        $ref: '#/components/requestBodies/Body'
  /product/getsuppliers:
    post:
      tags:
        - Product
      summary: Get company suppliers
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      suppliers:
                        type: array
                        items:
                          type: object
                          properties:
                            supplier_company_short_id:
                              type: string
                              description: Supplier short_id
                              example: T000
                            supplier_company_name:
                              type: string
                              description: Supplier name
                              example: Company test name
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                  time_zone:
                    type: integer
                    description: Time zone of server
                  status:
                    type: string
                    description: Response status
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                  message:
                    type: string
                    description: Response message
                  details:
                    type: string
                    description: Response details
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
        description: Products request
  /product/getproducts:
    post:
      tags:
        - Product
      summary: Get all company products
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                  time_zone:
                    type: integer
                    description: Time zone of server
                  status:
                    type: string
                    description: Response status
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                  message:
                    type: string
                    description: Response message
                  details:
                    type: string
                    description: Response details
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  properties:
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
                    supplier_company_short_id:
                      type: string
                      description: Get products from other companies that you are reselling. <br> **Note:** Do NOT add this parameter to get your own products, just make the call without this parameter
                      example: T000
                    product_short_id:
                      type: string
                      description: Get product by short id.
                      example: P1
                    include_disabled:
                      type: boolean
                      description: |
                        Optional. Default false. When true, disabled products are returned as well
                        (both your own disabled products and resold products whose original is
                        disabled), each flagged with disabled: true. When false or omitted,
                        disabled products are excluded.
                      example: false
        description: Products request
  /product/tour/getevents:
    post:
      tags:
        - Product
      summary: Get events of a tour
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      datetime_format:
                        type: string
                        description: Product date time format
                        example: 'd-m-Y H:i'
                      time_zone:
                        type: string
                        description: Product time zone
                        example: Europe/Madrid
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /product/tour/getevents
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535467592
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: List of all events
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - start_date
                    - end_date
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    start_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602590400
                    end_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602615600
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
        description: Events
  /product/tour/getavailable:
    post:
      tags:
        - Product
      summary: Get available for tour products
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      datetime_format:
                        type: string
                        description: Product date time format
                        example: 'd-m-Y H:i'
                      currency:
                        type: string
                        description: Product currency
                        example: EUR
                      time_zone:
                        type: string
                        description: Product time zone
                        example: Europe/Madrid
                      max_seats_buy:
                        type: integer
                        description: |
                          Max seat for booking:
                            * if 0 not exist max seat for booking
                        example: 0
                      min_seats_buy:
                        type: integer
                        description: |
                          Min seat for booking:
                            * 0 = no minimum configured
                        example: 0
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/AvailableEvent'
                      cutoff:
                        type: number
                        description: Limit, in seconds from now, that defines the minimum selectable date in the datepicker
                        example: 7200
                      total_prices_full:
                        type: number
                        description: Total price without discount
                        example:  34.979999999999997
                      total_prices:
                        type: number
                        description: Total price with discount
                        example:  34.979999999999997
                      total_prices_full_clean:
                        type: string
                        description: Total price without discount formatted as string to avoid floating-point precision issues
                        example:  "34.98"
                      total_prices_clean:
                        type: string
                        description: Total price with discount formatted as string to avoid floating-point precision issues
                        example:  "34.98"

                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/tour/getavailable
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535468836
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Available
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - start_date
                    - end_date
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    start_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602590400
                    end_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602615600
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
                    ticket_type_count:
                      $ref: '#/components/schemas/TicketCount'
                      description: Returns the availability and prices for each ticket
                    gift_certificate:
                      type: boolean
                      description: Return prices and availability for a gift voucher
                    show_ticket_prices:
                      type: boolean
                      description: Return all ticket prices
                    promo_code:
                      type: string
                      description: Applies the promocode to the prices returned. Must be used along ticket_type_count
        description: Available tour
  /product/open/getavailable:
    post:
      tags:
        - Product
      summary: Get available for open products
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P3
                      datetime_format:
                        type: string
                        description: Product date time format
                        example: 'd-m-Y H:i'
                      timezone:
                        type: string
                        description: Product time zone
                        example: Europe/Madrid
                      max_seats_buy:
                        type: integer
                        description: |
                          Max seat for booking:
                            * if 0 not exist max seat for booking
                        example: 0
                      tickets_available:
                        type: object
                        description: List of ticket available
                        properties:
                          indentifier_ticket:
                            type: object
                            required:
                              - name
                              - available
                            properties:
                              name:
                                type: string
                                description: Ticket name
                              available:
                                type: integer
                                description: Max ticket available for event
                        example:
                          '23432':
                            name: Child
                            available: 30
                          '23452':
                            name: Adult
                            available: 30
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/open/getavailable
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535470059
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Available
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - start_date
                    - end_date
                  properties:
                    product_short_id:
                      type: string
                      example: P3
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
        description: Available open
  /product/transfer/gethotels:
    post:
      tags:
        - Product
      summary: Get transfer hotels available for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - transfer
                    properties:
                      transfer:
                        type: object
                        required:
                          - required
                          - hotels
                        properties:
                          required:
                            type: boolean
                            description: Transfer hotel is required
                            example: '0'
                          hotels:
                            type: array
                            items:
                              type: object
                              description: Array with transfer hotels
                              required:
                                - code
                                - name
                                - pickup_time_before_event
                              properties:
                                code:
                                  type: integer
                                  description: Code for transfer hotel
                                name:
                                  type: string
                                  description: Name for transfer hotel
                                pickup_time_before_event:
                                  type: integer
                                  description: Pick-up time, second before the event time
                                transfer_exception:
                                  type: array
                                  items:
                                    type: object
                                    description: Array with transfer point exception
                                    required:
                                      - time
                                      - pickup_time_before_event
                                    properties:
                                      time:
                                        type: integer
                                        description: Event time, in EPOCH (Unix time or POSIX time or Unix timestamp)
                                      pickup_time_before_event:
                                        type: integer
                                        description: Pick-up time, seconds before the event time
                            example:
                              - code: 17314
                                name: Hotel A
                                pickup_time_before_event: 2700
                                transfer_exception:
                                - time: 1538125200
                                  pickup_time_before_event: 3600
                              - code: 17367
                                name: Hotel B
                                pickup_time_before_event: 3000
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/transfer/gethotels
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Product transfer
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P4
                    coordinates:
                      type: string
                      description: Latitude and longitude used to automatically determine the nearest hotel
                      example: 28.076666468635835, -16.556838224925382
        description: Availabe transfer
  /product/transfer/getpickuppoints:
    post:
      tags:
        - Product
      summary: Get transfer pick-up points available for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - transfer
                    properties:
                      transfer:
                        type: object
                        required:
                          - activated
                          - required
                        properties:
                          activated:
                            type: boolean
                            description: Transfer is activated
                            example: '0'
                          required:
                            type: boolean
                            description: Transfer is required
                            example: '0'
                          pick_up_points:
                            type: array
                            description: Array with transfer pick-up points
                            items:
                              type: object
                              description: Pick-up point data
                              required:
                                - code
                                - name
                              properties:
                                code:
                                  type: string
                                  description: Code of pick-up point
                                  example: 23147
                                name:
                                  type: string
                                  description: Name of pick-up point
                                  example: 'Blue point'
                                blacklist:
                                  type: array
                                  description: Array with pick-up point exception
                                  items:
                                    type: object
                                    description: Pick-up point exception data
                                    properties:
                                      weekdays:
                                        type: array
                                        description: Days of week where the exception applies (1-7)
                                        items:
                                          type: string
                                      hours:
                                        type: array
                                        description: Optional list of specific hours for the exception (HH:mm)
                                        items:
                                          type: string
                                      date_start:
                                        type: string
                                        description: Start date in EPOCH format
                                      date_end:
                                        type: string
                                        description: End date in EPOCH format
                                  example:
                                    - weekdays:
                                        - "1"
                                        - "5"
                                        - "7"
                                      date_start: ""
                                      date_end: ""
                                    - weekdays:
                                        - "3"
                                        - "5"
                                      hours:
                                        - "01:00"
                                      date_start: "1773702000"
                                      date_end: "1774306799"
                                hotels:
                                  type: array
                                  description: Array with hotels by pick up point
                                  items:
                                    type: object
                                    description: Hotel data
                                    required:
                                      - code
                                      - name
                                    properties:
                                      code:
                                        type: string
                                        description: Code of hotel
                                        example: 545875
                                      name:
                                        type: string
                                        description: Name of hotel
                                        example: 'Blue hotel'
                                      pickup_time_before_event:
                                        type: integer
                                        description: Pick-up time, seconds before the event time
                                        example: 1020
                                      transfer_exception:
                                        type: array
                                        items:
                                          type: object
                                          description: Array with transfer point exception
                                          required:
                                            - time
                                            - pickup_time_before_event
                                          properties:
                                            time:
                                              type: integer
                                              description: Event time, in EPOCH (Unix time or POSIX time or Unix timestamp)
                                              example: 1538125200
                                            pickup_time_before_event:
                                              type: integer
                                              description: Pick-up time, seconds before the event time
                                              example: 3600
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/transfer/getpickuppoints
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Product pick up points
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    coordinates:
                      type: string
                      description: Latitude and longitude used to automatically determine the nearest pickup point
                      example: 28.076666468635835, -16.556838224925382
        description: Availabe Pick-up points by product
  /product/transfer/gethotelsbyevent:
    post:
      tags:
        - Product
      summary: Get transfer hotels available for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - transfer
                    properties:
                      transfer:
                        type: object
                        required:
                          - required
                          - hotels
                        properties:
                          required:
                            type: boolean
                            description: Transfer hotel is required
                            example: '0'
                          hotels:
                            type: array
                            items:
                              type: object
                              required:
                                - code
                                - name
                                - pickup_time
                              description: Array with transfer hotels
                              properties:
                                code:
                                  type: integer
                                  description: Code for transfer hotel
                                name:
                                  type: string
                                  description: Name for transfer hotel
                                pickup_time:
                                  type: integer
                                  description: Pick-up time, in EPOCH (Unix time or POSIX time or Unix timestamp)
                            example:
                              - code: 17314
                                name: Hotel A
                                pickup_time: 1518596100
                              - code: 17367
                                name: Hotel B
                                pickup_time: 1518597000
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/transfer/gethotelsbyevent
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Product transfer
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - date_event
                  properties:
                    product_short_id:
                      type: string
                      example: P4
                    date_event:
                      type: integer
                      description: Event time, in EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1518598800
                    coordinates:
                      type: string
                      description: Latitude and longitude used to automatically determine the nearest hotel
                      example: 28.076666468635835, -16.556838224925382
        description: Availabe transfer by event time
  /product/getclientform:
    post:
      tags:
        - Product
      summary: Get client form for product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      language_code:
                        type: string
                        description: |
                          ISO 639-1. Standard nomenclature used to classify languages <br>
                          This is the preferred language. If translation is not found, it will return value in original language
                        example: es
                      client_form:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              description: Field identifier
                            name:
                              type: string
                              description: Field display name or description
                            required:
                              type: boolean
                              description: Whether the field is mandatory
                            html_base64:
                              type: string
                              description: HTML content for the field encoded in base64, only for custom fields
                          required:
                            - key
                            - name
                            - required
                        description:
                          List of fields for booking form
                        example:
                          - key: "custom"
                            name: "Lugar de recogida\n\n\nTour desde el puerto - 9:45\nTour desde tu hotel - 10:00\nTour desde la estación de trenes - 10:20\n"
                            required: true
                            html_base64: "THVnYXIgZGUgcmVjb2dpZGE8YnI+CjxzZWxlY3Q+CjxvcHRpb24gdmFsdWU9Jyc+PC9vcHRpb24+CjxvcHRpb24gdmFsdWU9J1RvdXIgZGVzZGUgZWwgcHVlcnRvIC0gOTo0NSc+VG91ciBkZXNkZSBlbCBwdWVydG8gLSA5OjQ1PC9vcHRpb24+CjxvcHRpb24gdmFsdWU9J1RvdXIgZGVzZGUgdHUgaG90ZWwgLSAxMDowMCc+VG91ciBkZXNkZSB0dSBob3RlbCAtIDEwOjAwPC9vcHRpb24+CjxvcHRpb24gdmFsdWU9J1RvdXIgZGVzZGUgbGEgZXN0YWNpw7NuIGRlIHRyZW5lcyAtIDEwOjIwJz5Ub3VyIGRlc2RlIGxhIGVzdGFjacOzbiBkZSB0cmVuZXMgLSAxMDoyMDwvb3B0aW9uPgo8L3NlbGVjdD4="
                          
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/getclientform
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535533331
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Client form
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
        description: Client form
  /product/getpaymentgateways:
    post:
      tags:
        - Product
      summary: Get payment gateways for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      payment_gateways:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentGateways'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/getpaymentgateways
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535533331
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Payment Gateways
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P1
        description: Payment Gateways
  /product/tour/insertindividualevents:
    post:
      tags:
        - Product
      summary: Insert individual events by product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      datetime_format:
                        type: string
                        description: Product date time format
                        example: 'd-m-Y H:i'
                      timezone:
                        type: string
                        description: Product time zone
                        example: Europe/Madrid
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/IndividualEvent'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /product/tour/insertindividualevents
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535467592
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Insert individual events
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - start_date
                    - time
                    - current_service_only
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    start_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602590400
                    end_date:
                      type: integer
                      description: EPOCH (Unix time or POSIX time or Unix timestamp)
                      example: 1602615600
                    time:
                      type: string
                      description: Time in 24 hours format (HH:mm)
                      example: "10:00"
                    current_service_only:
                      type: boolean
                      description: Describe if the event is applied only to this product
                      example: 1
        description: Insert individuals events
  /product/checkpromocode:
    post:
      tags:
        - Product
      summary: Check if a promo code is valid for a event
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - valid_promo_code
                    properties:
                      valid_promo_code:
                        type: boolean
                        description: if promo code is valid or not
                        example: true
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/validpromocode
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Check if promo_code is valid
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - promo_code
                  properties:
                    product_short_id:
                      type: string
                      example: P4
                    date_event:
                      type: integer
                      description: Event time, in EPOCH (Unix time or POSIX time or Unix timestamp), not required if product flow is open
                      example: 1518598800
                    gift_certificate:
                      type: boolean
                      description: Get prices when the gift voucher is active, only for product flow tour
                    user_id:
                      type: integer
                      description: User identificator for Agents registered in the provider's panel (Optional)
                    promo_code:
                      type: string
                      description: Promo code
                      example: TestPromo01
                    ticket_type_count:
                      $ref: '#/components/schemas/TicketCount'
                      description: Service promocodes configured with minimum or maximum PAX (groupal discounts) are validated
                  example:
                    {
                      "product_short_id":"P1",
                      "gift_certificate":1,
                      "promo_code":"TestPromo01"
                    }
        description: Check if a promo code is valid for a event
  /product/addbanner:
    post:
      tags:
        - Product
      summary: Add banner image to the product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - banner_image
                    properties:
                      banner_image:
                        type: string
                        description: Image url
                        example: https://appturitop.s3.eu-central-1.amazonaws.com/T001/productbanner/P1/1588061612_banner?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2RBBYG3FI6MP2UN2%2F20200428%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20200428T081332Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Signature=22518294178f5a8f28a0d63ea7d7e4be58c2426c8596a6c30994c68cc24e8878
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/addbanner
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Add banner image to the product
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - banner_type
                    - banner
                  properties:
                    product_short_id:
                      type: string
                      example: P4
                    banner_type:
                      type: string
                      description: |
                        Banner image file type, Supported file
                          - image/jpeg
                          - image/png
                      example: image/jpeg
                    banner:
                      type: string
                      description: Base64 image data, maximum size 3Mb
                      example: /9j/4AAQSkZJRgABAQEBLAEsAAD/2wBDAAYEBAUEBAYFBQUGBgYHCQ4JCQgICRINDQoOFRIWFhUSFBQXGiEcFxgfGRQUHScdHyIjJSUlFhwpLCgkKyEkJST/2wBDAQYGBgkICREJCREkGBQYJCQkJCQkJCQkJCQk...
                  example:
                    {
                      "product_short_id":"P1",
                      "banner_type":"image/jpeg",
                      "promo_code":"/9j/4AAQSkZJRgABAQEBLAEsAAD/2wBDAAYEBAUEBAYFBQUGBgYHCQ4JCQgICRINDQoOFRIWFhUSFBQXGiEcFxgfGRQUHScdHyIjJSUlFhwpLCgkKyEkJST/2wBDAQYGBgkICREJCREkGBQYJCQkJCQkJCQkJCQk..."
                    }
        description: Add banner image to the product
  /product/delbanner:
    post:
      tags:
        - Product
      summary: Delete banner image to the product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/product/addbanner
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535531804
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Delete banner image to the product
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P4
                  example:
                    {
                      "product_short_id":"P1"
                    }
        description: Delete banner image to the product
  /product/getcalendardata:
    post:
      tags:
        - Product
      summary: Get all tickets booked and left por a period of time
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarData'
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - start_date
                    - end_date
                  properties:
                    product_short_ids:
                      type: array
                      items:
                        type: string
                        description:
                         List of products short ids to get the data. Can't be used simoultaneously with category_short_ids.
                         You can use the keyword "all" to retrieve the data for all available products.
                        example:
                          all products:
                            value: ["all"]
                            summary: Return the data for all available products
                            tag: lala
                          multiple products:
                            value: ["P1", "P2"]
                            summary: Return the data for product P1 and P2
                            tag: lele
                          single product:
                            value: ["P1"]
                            summary: Return the data for product P1
                            tag: lolo
                    category_short_ids:
                      type: array
                      items:
                        type: string
                        description: List of categories short ids to get the data. Can't be used simoultaneously with product_short_ids
                        example: ["C1", "C2"]
                    start_date:
                      type: integer
                      example: 1598911200
                    end_date:
                      type: integer
                      example: 1600000000
                  example:
                    {
                        "product_short_ids":["P1", "P3"],
                         "start_date":1598911200,
                         "end_date":1600000000
                    }
        description: Get the data required to render a calendar with events, products and tickets
  /product/closeevent:
    post:
      tags:
        - Product
      summary: Close an event
      responses:
        '200':
          description: Event closed successfully
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        description: Close an event making it unavailable for future online bookings
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - event_date
                  properties:
                    product_short_id:
                      type: string
                      description: Product short id
                      example: "P1"
                    event_date:
                      type: integer
                      description: Unixtimestamp of the event
                      example: 1598825700
  /product/openevent:
    post:
      tags:
        - Product
      summary: Open an event
      responses:
        '200':
          description: Event opened successfully
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        description: Open a previously closed event, making it available for future online bookings
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - event_date
                  properties:
                    product_short_id:
                      type: string
                      description: Product short id
                      example: "P1"
                    event_date:
                      type: integer
                      description: Unixtimestamp of the event
                      example: 1598825700
  /categories/get:
    post:
      tags:
        - Categories
      summary: Get a list of all categories and the products associated
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            short_id:
                              type: string
                              description: Categoy short id
                              example: "C1"
                            id:
                              type: integer
                              description: Categoy id
                              example: 123456
                            name:
                              type: string
                              description: Categoy name
                              example: "Walking Tours"
                            products :
                              type: object
                              description: List of string with product short_ids that belongs to the category
                              example: ["P1", "P33"]
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  properties:
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages
                      example: "en"
        description: Get company categories
  /tickets/get:
    post:
      tags:
        - Tickets
      summary: Get all tickets for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      ticket_selector_format:
                        type: string
                        description: |
                          Ticket selector format:
                            * dropdown - allows changing the amount of tickets
                            * checkbox - let users select different ticket simultaneously
                            * radiobutton - means only one ticket can be selected while
                      tickets:
                        type: object
                        description: 'List of ticket by product '
                        properties:
                          identifier:
                            $ref: '#/components/schemas/TicketGet'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/tickets/get
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535533790
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Get tickets
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    language_code:
                      type: string
                      description: |
                        ISO 639-1. Standard nomenclature used to classify languages <br>
                        This is the preferred language. If translation is not found, it will return value in original language
                      example: en
        description: Tickets product
  /tickets/insert:
    post:
      tags:
        - Tickets
      summary: Insert a ticket for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                        example: P1
                      ticket:
                        $ref: '#/components/schemas/Ticket'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/tickets/insert
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535534300
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
                    type: string
                    description: 'Unique identifier for the request'
                    example: "caae62f7876a4b878c8d0e9b5c4b259b"
                  code:
                    type: integer
                    description: Response status code
                    example: '200'
                  message:
                    type: string
                    description: Response message
                    example: HTTP OK
                  details:
                    type: string
                    description: Response details
                    example: Insert tickets
                  version:
                    type: string
                    description: Version Turitop App
                    example: 2.60.30
        '400':
          description: Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - access_token
                - data
              properties:
                access_token:
                  type: string
                  description: Access token
                  example: ttJhbGciJzaXQASDCJ222XAiOiJTV1QifQ==.ttJpYXQiOjE1MjgyODg4N4TESTAsdeasdQ0NCIsImFjY2Vzc19I6IjgxLjQ1LjEyOS43OSIsInR5cGUiOiJyZWZyZXNoIn0=.722332aasd793123395856b2c820e2323d0974c082a7c6a9d2df5bf8b73f5
                data:
                  type: object
                  required:
                    - product_short_id
                    - ticket
                  properties:
                    product_short_id:
                      type: string
                      example: P1
                    ticket:
                      $ref: '#/components/schemas/TicketInsert'
        description: Insert Ticket
  /tickets/update:
    post:
      tags:
        - Tickets
      summary: Update a ticket for a product
      responses:
        '200':
          description: Request OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      product_short_id:
                        type: string
                        description: Product short id
                      tickets:
                        $ref: '#/components/schemas/Ticket'
                  method:
                    type: string
                    description: Http Method
                    example: POST
                  url:
                    type: string
                    description: Call url
                    example: /v1/tickets/insert
                  timestamp:
                    type: integer
                    description: 'Server time, EPOCH (Unix time or POSIX time or Unix timestamp)'
                    example: 1535534300
                  time_zone:
                    type: integer
                    description: Time zone of server
                    example: Europe/Madrid
                  status:
                    type: string
                    description: Response status
                    example: SUCCESS
                  local_time:
                    type: string
                    description: 'Local time for the response (ISO 8601 format)'
                    example: "2023-10-19T13:00:00+0200"
                  request_id:
[...]
